html {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  color: white;
}

body {
  line-height: 1.4em;
}

.container {
    max-width: 960px;
    margin: 0px auto;
}

/* Header */

/* First header - Company */
.company {
  display: block;
  background-color: black;
  font-size: 1rem;
}

.company .container {
  display: flex;
  align-items: center;
}

/* MOBILE */
.company-mobile {
  display: none;
}
/* END */

.company img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.company h4 {
  font-size: 1rem;
  margin-top: 0.66rem;
  margin-bottom: 0.66rem;
}
/* END First header - Company */

/* Banner */
.banner {
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 25rem;
  margin-top: 0;
}

.heading {
  position: relative;
  width: 20rem;
  background-color: black;
  padding: 2rem 3rem;
  top: 9rem;
  font-weight: bold;
}

.heading h1 {
  font-size: 2rem;
  margin-top: 0.25rem;
  line-height: 1.2em;
}

.heading h4 {
  font-size: 1rem;
  line-height: 1.2em;
}
/* END Banner */
/* END Header */

/* Navigation part */
nav {
  background-color: firebrick;
}

 nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 0;
}

/* MOBILE */
nav .mobile-nav {
  display: none;
}
/* MOBILE */

/* END Navigation part */

/* Main body */

/* Products */
.container .product {
  display: flex;
  max-width: 960px;

}

.products {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
}

.product {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.product-image {
  display: flex;
  border: 4px solid black;
  height: 9rem;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}

.product img {
  max-width: 8em;
}

.description {
  display: block;
  background-color: black;
  padding: 0.5rem 0;
  text-align: center;
}
/* END Products */

/* Info */
.container .info {
  display: flex;
  max-width: 960px;
}

.info {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
}

.location {
  width: 35%;
}

.hours {
  width: 35%;
}

.info h4 {
  background-color: black;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.info span {
  color: black;
  line-height: 1.4em;
}
/* END Info */

/* END Main body */


/* Footer */
footer {
  display: block;
  background-color: black;
  height: 5rem;
  padding-top: 5em;
  padding-bottom: 1em;
  margin-top: 4rem;
}



footer span {
  text-align: left;
  margin: 0;
}
/* END Footer */

/* Responsive design */

/* Tablets - landscape */
@media only screen and (max-width: 1024px) {
  html {
    font-size: 16px;
  }

  nav .container {
    display: none;
  }

  nav .mobile-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75em 0;
  }

   .container .glasses {
    display: none;
  }

  .container .product {
    width: 47%;
  }
}
/* END Tablets */

/* MOBILE */
@media only screen and (max-width: 470px) {

  html {
    font-size: 16px;
  }

  .company .container {
    display: none;
  }

  header .company-mobile {
    display: flex;
    background-color: black;
    justify-content: center;
    padding: 1.5rem;
  }

  .company-mobile img {
    height: 2rem;
  }

  .banner {
    height: 15rem;
  }

  .heading {
    top: 10rem;
    padding: 1rem 2rem;
    text-align: left;
    width: inherit;
  }

  .heading h1 {
    font-size: 1rem;
    padding-bottom: 0.5rem;
  }

  .heading h4 {
    font-size: 0.77rem;
    padding-top: 0.5rem;
  }

  nav .container {
    display: none;
  }

  nav .mobile-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75em 0;
  }

  .container .glasses {
   display: none;
  }

  .container .watch {
   display: none;
  }

  .container .product {
    width: 90%;
  }

  .products {
    justify-content: center;
  }

  .container .info {
    flex-direction: column;
    width: 100%;
    margin-left: 5%;
  }

  .location {
    width: 90%;
    margin-bottom: 0.5rem;
  }

  .hours {
    width: 90%;
  }

  footer .container {
    text-align: center;
  }
